<!DOCTYPE html>

{% load static %}

<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Charm" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'css/index.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/slider.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/bottom.css' %}">


</head>

<body>

    <div id="begin">
        <div class="title_img">
            {% load static %}
            <img src="{% static 'img/logo.jpg' %}" alt="SYSU" class="head_img">


        </div>
        <div class="web_title">RSA Cryptosystem</div>
    </div>

    <div id="indexline">

        <div id="container" onMouseMove="activeArrow(0)" onMouseOut="activeArrow(1)">
            <div id="slides">
                <img class="slide" src="{% static 'img/banner.jpg' %}">
                <img class="slide" src="{% static 'img/luojun.jpg' %}">
                <img class="slide" src="{% static 'img/disco.jpg' %}">
                <img class="slide" src="{% static 'img/banner.jpg' %}">
            </div>

            <div id="points">
                <div class="point active" onClick="clickPoint(0)"></div>
                <div class="point" onClick="clickPoint(1)"></div>
                <div class="point" onClick="clickPoint(2)"></div>
            </div>

            <div id="arrowLeft" class="arrow" onClick="clickArrow(0)"></div>
            <div id="arrowRight" class="arrow" onClick="clickArrow(1)"></div>
        </div>

        <div id="map"></div>
    </div>




    <div class="unit" id="first_unit">

        <h2>Key Generator</h2>

        <div class="left_input">
            <form class="form" accept-charset="UTF-8" action="/genkey" method="post">
                <a class="debug-text">{{ key_error }}</a>
                <textarea class="area" rows="4" placeholder="Prime p. Leave empty to auto generate."
                    name="first_num">{{ first_num }}</textarea>
                <textarea class="area" rows="4" placeholder="Prime q. Leave empty to auto generate."
                    name="second_num">{{ second_num }}</textarea>
                <button class="button">Submit</button>
                {% csrf_token %}
            </form>
        </div>


        <div class="right_output">
            <div class="header">Public key</div>
            <div class="output_num">{{ open }}</div>
            <div class="header">Private key</div>
            <div class="output_num">{{ closed }}</div>
        </div>

    </div>


    <div class="unit">
        <h2>Encoder</h2>

        <div class="left_input">
            <form class="form" accept-charset="UTF-8" action="/encoder" method="post">
                <a href="" class="debug-text">{{ encode_error }}</a>
                <textarea class="area" rows="4" placeholder="Public key"
                    name="encode_key">{{first_close}}{{ second_close }}</textarea>
                <textarea class="area" rows="4" placeholder="Text" name="to_encode_text">{{ to_encode_text }}</textarea>


                <button class="button">Submit</button>


                {% csrf_token %}
            </form>
        </div>


        <div class="right_output">
            <div class="header">Encoded text</div>
            <div class="output_text">{{ encode_text }}</div>
        </div>
    </div>


    <div class="unit">
        <h2>Decoder</h2>

        <div class="left_input">
            <form class="form" accept-charset="UTF-8" action="/decoder" method="post">


                <a href="" class="debug-text">{{ decode_error }}</a>
                <textarea class="area" rows="4" placeholder="Private key"
                    name="decode_key">{{first_open}}{{ second_open }}</textarea>
                <textarea class="area" rows="4" placeholder="Code" name="to_decode_text">{{ to_decode_text }}</textarea>


                <button class="button">Submit</button>


                {% csrf_token %}
            </form>
        </div>


        <div class="right_output">
            <div class="header">Decoded text</div>
            <div class="output_text">{{ decode_text }}</div>
        </div>
    </div>




    <div id="footer_wrap">
        <div id="footer">
            <div class="bottomlogo">
                <img src="{% static 'img/logo-bottom.jpg' %}"></div>
            <div class="bottomcontact_cn">通讯地址:广州市新港西路135号 学号:16337179<br>
                电话: 13531455320 姓名: 麦金杰</div>
            <div class="bottomcontact_en">
                Address: No. 135, Xingang Xi Road, Guangzhou, 510275, P. R. China<br>
                TEL: 13531455320
            </div>
            <div class="clear"></div>
            <div class="copyright">Wayne Mai版权所有 COPYRIGHT©2019 , SUN YAT-SEN UNIVERSITY - <a href="#">联系我们</a> - <a
                    href="#">网站地图</a> - <a href="#">粤ICP备05008892号</a></div>
        </div>
    </div>
    <!--footer end-->

    <script type="text/javascript" src="{% static 'js/slider.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/map.js' %}"></script>
    <script>
        moveImage();
    </script>
    <script async="" defer=""
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKQ-WPkldr0fLdC_YtJwThFf1OflD04GI&amp;callback=initMap">
    </script>
</body>

</html>